<!DOCTYPE html>
<html ng-app="rabbit">
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/chosen.css' />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    
    <div ng-controller="NewsController">
        <p class="h1">Github Activity Stream</p>
        
        <div class="news">
          <div ng-repeat="(name, p) in projects">
              <p class="h2">{{name}} ({{p.commits.length}})</p>
              
              <div class="wait" ng-show="!p.commits">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
              
              <div class="commit" ng-repeat='c in p.commits'>
                <div class="index"><p>{{$index}}</p></div>               
                <p class="commit-title">{{c.commit.message}}</p>
                <div class="commiter">
                  <img class="gravatar" src="{{c.committer.avatar_url}}" width="24px" height="24px" />
                  <span>{{c.commit.committer.name}}</span>
                  <time title="{{c.commit.committer.date}}"></time>
                </div>
                <a href="{{c.html_url}}" class="gh" target="blank"><i class="fa fa-github"></i></a>
              </div> 
          </div>
        </div>

          <div>
            <div></div>
          </div>
    </div>
    
    
    
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="/javascripts/chosen.jquery.min.js"></script>
    <script src="/javascripts/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-sanitize.min.js"></script>
    <script src="/javascripts/NewsController.js"></script>
    
  </body>
</html>