<!DOCTYPE html>
<html ng-app="rabbit">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/chosen.css' />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
    
    <div ng-controller="NewsController">
          <h1>Github Activity Stream</h1>

          <div class="news">
              <select chosen="projects" ng-options="e.text for e in projects" ng-model="watched" multiple></select>
              
              <div class="wait" ng-show="!commits">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
              
              <div class="commit" ng-repeat='c in commits'>
                <div class="index"><p>{{$index}}</p></div>               
                <p class="commit-title">{{c.commit.message}}</p>
                <div class="commiter">
                  <img class="gravatar" src="{{c.committer.avatar_url}}" width="24px" height="24px" />
                  <span>{{c.commit.committer.name}}</span>
                  <time title="{{c.commit.committer.date}}"></time>
                </div>
                <a href="{{c.html_url}}" class="gh" target="blank"><i class="fa fa-github"></i></a>
              </div> 
          </div>

          <div>
            <div></div>
          </div>
    </div>
    
    
    
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script src="/javascripts/chosen.jquery.min.js"></script>
    <script src="/javascripts/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-sanitize.min.js"></script>
    <script src="/javascripts/NewsController.js"></script>
    
  </body>
</html>