
*
 box-sizing: border-box
 
body
  padding: 50px
  font: 14px Roboto, "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  text-decoration: none
  
dt
  font-size: 16px
  font-weight: bold
  
div
  display: block

ul, ol 
  padding: 0
  margin-top: 0
  margin-bottom: 0

tt, code, pre 
  font-family: Consolas, "Liberation Mono", Courier, monospace
  font-size: 12px


blockquote 
  margin: 0

p
  margin: 10px

p.h1
  font-family: Roboto
  font-size: 3.3em
  font-weight: 100

p.h2
  font-family: Roboto
  font-size: 2.5em
  font-weight: 100

p.h3
  font-family: Roboto
  font-size: 2em
  font-weight: 100
    
p.h4
  font-family: Roboto
  font-size: 1.5em
  font-weight: 300

.stream-header
    width: 620px

.sel-prj-header
  margin: 20px 0
  border-bottom: 1px solid #ddd
  
.sel-prj-header p.h2
  display: inline-block
  
.sel-prj-menu 
    float: right
    padding: 20px 10px 0 0
    
.sel-prj-menu span.glyphicon-tasks    
    font-size: 1.26em

.commiter
    margin: 0

.commiter .name
    font-weight: 300

.commiter .time
    color: #000
    font-size: 1em
    font-weight: 100
    

.gravatar 
    background-color: #fff
    float: left
    line-height: 0
    margin-top: -2px
    margin-right: 12px
    vertical-align: middle
    border-radius: 5px

.commit 
    width: 620px
    padding: 15px 15px

.fullscreen
    width: 100%
    height: 100%
    position: absolute

.commit .title
    font-weight: 300
    margin-top: 0
    margin-bottom: 5px

.fullscreen .title
    font-weight: 100

.commit .action-bar
    margin: 15px -15px -15px -15px
    border-top: 1px dotted #ddd
    padding: 5px
    text-align: right
    background: -webkit-linear-gradient(top, #f6f6f6 0%,#ffffff 8px)
    box-shadow: inset 0px 1px 0 #eee
    border-bottom-right-radius: 4px
    border-bottom-left-radius: 4px

.commit .action-bar a
    color: #999
    margin-left: 5px

.commit a.gh
  font-size: 1.6em
  line-height: 0
  
  
.commit a.gh:hover
  font-size: 1.6em
  color: #428bca

div.wait
  font-size: 2.6em
  text-align: center
  padding: 30px 0px
  color: #00b7ff
  
  
.commit-body .filename
    margin: 25px 0px 7px 0px
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace
    font-size: 1.1em
    
    
.loading
    background: url(../images/sbsp_loading_1.gif)
    height: 250px
    width: 100%
    background-repeat: no-repeat
    background-position-x: center