<div ng-controller="SpottedCommitController" class="row">
    <div class="col-md-12">

        <div class="loading" ng-show="!commit && !commitPartialInfo"></div>

        <div class="commit fullscreen" ng-show="commitPartialInfo">
            <div class="commit-header">
                <img class="gravatar" src="{{commitPartialInfo.committer.avatar_url}}" width="60px" height="60px" />
                <p class="h3 title">{{commitPartialInfo.commit.message}}</p>
                <p class="commiter">
                    <span class="name">{{commitPartialInfo.commit.committer.name}}</span>
                    <time class="time" title="{{commitPartialInfo.commit.committer.date}}">authored</time>
                </p>
            </div>


            <div class="loading" ng-show="!commit"></div>

            <div class="commit-body" ng-show="commit">

                <div class="action-bar">
                    <ul class="nav nav-pills">
                        <li ng-class="{active: currentView == 'overview'}">
                            <a href ng-click="currentView = 'overview'">Overview</a>
                        </li>
                        <li ng-class="{active: currentView == 'files'}">
                            <a href ng-click="currentView = 'files'">Files</a>
                        </li>
                    </ul>
                </div>

                <div>&nbsp;</div>

                <!-- OVERVIEW -->
                <div ng-show="currentView == 'overview'" overview="commit">

                </div>

                <!-- FILES -->
                <div ng-show="currentView == 'files'">
                    <div ng-repeat="f in commit.files">
                        <div class="filename">>_ {{f.filename}} ({{f.tags}})</div>
                        <!-- div class="contents" diff="f.patch"></div -->
                    </div>
                </div>
            </div>



        </div>

    </div>

</div>
