<div ng-controller="SpottedCommitController" class="row">
    <div class="col-md-12">

        <div ng-show="!c">
            loading
        </div>

        <div class="commit fullscreen" ng-show="c">
            <div class="commit-header">
                <img class="gravatar" src="{{c.committer.avatar_url}}" width="48px" height="48px" />
                <p class="h4 title">{{c.commit.message}}</p>
                <p class="commiter">
                    <span class="name">{{c.commit.committer.name}}</span>
                    <time class="time" title="{{c.commit.committer.date}}">authored</time>
                </p>
            </div>

            <div class="commit-body">
                <div ng-repeat="f in c.files">
                    {{f.filename}}
                    <div diff="f.patch" class="contents">
                    </div>
                </div>
            </div>



        </div>

    </div>
</div>
