<div class="commit ">
    <p class="h2">Bla</p>
    <!-- img class="gravatar" src="{{c.committer.avatar_url}}" width="48px" height="48px" />
    <p class="list-group-item-heading h4 title">{{c.commit.message | truncate:45}}</p>
    <p class="list-group-item-text commiter">
        <span class="name">{{c.commit.committer.name}}</span>
        <time class="time" title="{{c.commit.committer.date}}">authored</time>
    </p>
    <div class="action-bar">
        <a href="{{c.html_url}}" class="gh" target="blank">
            <i class="fa fa-github"></i>
        </a>
        <a href="#/spotCommit" class="gh" ng-click="spotCommit(c);">
            <i class="fa fa-code"></i>
        </a>
    </div -->
</div>
